<h1>{{nombre}}</h1>

<dl>
    <td> Nombre:</td>
    <dd>{{nombre}}</dd>

    <td> Edad:</td>
    <dd>{{edad}}</dd>

    <td> funcion:</td>
    <dd>{{obtenerNombre()}}</dd>

    <td> Capitalizado:</td>
    <dd>{{nombreMayusc}}</dd>
</dl>

<button (click)="cambiarNombre();">
    cambiar Heroe
</button>
<button>
    cambiar edad 
</button>



