<h1>Dragon Ball</h1>
<hr>

<div class="row">
    <div class="col">
        <app-personajes [personajes]= "personajes"></app-personajes>
    </div>
    <div class="col">
      <app-agregar
        [personajes] = "personajes"
        [nuevo] = "nuevo"
      ></app-agregar>  
    </div>
</div>